body {
  background-image: url(https://github.com/ssmith0814/ssmith0814.github.io/blob/master/abstract-geometric-pattern-background_1319-242.jpg);
  background-color: #cccccc;
 }
 
body {
 color: Black; 
}

p {
  font-family: verdana;
  font-size: 20px;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 200px;
   height: 350px;
}
