body {
  background-image: url(https://github.com/ssmith0814/ssmith0814.github.io/blob/master/background.jpg?raw=true);
  background-size: stretch;
 }
 
body {
 color: Black; 
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 200px;
   height: 350px;
}

.main {
  font-family: verdana;
  font-size: 30px;
}
