body {
  background-image: url(https://www.colourbox.com/preview/9703125-grunge-background-with-blue-design-elements-seamless-geometric-pattern-mosaic-background-colorful-design-abstract-background-water-texture-background-pool.jpg);
  background-color: #cccccc;
 }
 
body {
 color: Black; 
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 200px;
   height: 350px;
}

.main {
  font-family: verdana;
  font-size: 30px;
}
